body,html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;}

.index {
  position: fixed;
  top: -15px;
  left: 0;
  width: 100%;
  background-color: #e2dddd;
  color: #212121;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  z-index: 1000;
}

.index span { color: #d32f2f;}

#clogo {
position: fixed;
top: 42px;
left: 0;
right: 0;
padding: 10px 20px;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%; /* Ensure full width */
}

#companycontact {
margin-left: 200px;
display: flex;
align-items: center;}

#companycontact img { margin-right: 10px;}

#companycontact h3 {
font-size: 18px;
margin-left: 50px;
margin-top: -30px;}

#companycontact p {
font-size: 16px;
margin-left: -100px;
margin-top: 55px;
}

#companylogo img {   height: 80px;}

#searchbar {
margin-right: 150px;
display: flex;
align-items: center;
background-color: #e2dddd;
padding: 5px 10px;
border-radius: 10px;
}

#searchbar img { margin-right: 10px;}

#searchbar input {
padding: 8px;
font-size: 16px;
border-radius: 5px;
border: 1px solid #ccc;
width: 200px; /* Ensure the input box is not too small */}

nav {
position: fixed;
top: 140px;
left: 0;
width: 100%;
background-color: #e2dddd;
color: #333;
padding: 10px 0;
text-align: center;
z-index: 998;
}

nav a {
color: #333;
text-decoration: none;
margin: 0 15px;
font-size: 16px;
font-weight: bold;
}

nav a:hover { color: #f39c12;}

.order-link {
position: relative;
display: inline-block;
}

.dropdown {
display: none;
position: absolute;
/* background-color: #f1f1f1; */
min-width: 160px;
z-index: 1;
top: 100%; /* Position dropdown below the link */
left: 0;
}

.order-link:hover .dropdown {
display: block;
}

.dropdown a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {
background-color: #e2dddd;
border-radius: 10px;
}